h2.register {
    color: #808080;
    transition: all 0.3s ease-in-out;
    margin-right: 1rem;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;

}

h2:hover {
    color: #FFD700;
}


.form {

    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

.labelr {
    color: #99004c;
    font-weight: 600;
    font-size: 25px;
    font-weight: bold;


}

input {
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px #808080;
color:#808080 ;
border: 1px ;

}

.submit{
 color:#606060 ;
border-radius: 30px;
border: 10px #808080 ;
padding:20px;
transition: all 0.3s ease-in-out;


}
.submit:hover {
    color: #99004c;
    background-color: #cdafbf;
  }