.cat{
    color: #808080;
    transition: all 0.3s ease-in-out;
    margin-right: 1rem;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}