* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  height: auto;
}

.category-card {
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.layout main {
  flex: 1;
}
